<header>
    <a href="/">Sails.JS Examples</a>
</header>
<div id="content">
    <h2>Leaderboards:</h2>
    <a href="/example/jQuery">jQuery</a><br />
    <a href="/example/ember">Ember</a><br />
    <a href="/example/backbone">Backbone</a><br />
    <a href="/example/angular">Angular</a><br />
</div>
<footer>
    &copy;2013 Nobody
    <a target="_blank" href="http://sailsjs.com" class="copyright">Built with Sails.js</a>
</footer>